<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                    <ul class="list-unstyled">
                        <li><a href="#">Acerca de nosotros</a></li>
                        <li><a href="#">Descarga tu poliza</a></li>
                        <li><a href="#">Términos y condiciones</a></li>

                    </ul>
                    </div>
                </div>
                
                <div class="col text-center">
                    <h5>Síguenos en nuestras redes sociales</h5>
                    <ul class="social-network social-circle">
                        <li><a href="#" title="Facebook"><i class="fab fa-facebook"></i></a></li>
                        <li><a href="#" title="Linkedin"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="#" title="Linkedin"><i class="fab fa-instagram"></i></a></li>
                    
                    </ul>				
                </div>
            </div>
        </div>
        <div class="copy">
            <div class="col-md-12 copy">
                <p class="text-center">&copy; Copyright 2020</p>
            </div>
        </div>
    </div>
</footer>